<div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

{{frost-modal-outlet}}

<div class='dummy-body'>
  {{! BEGIN-SNIPPET background-blur }}
  <div
    class="dummy-content frost-modal-blur
      {{if (frost-modal-blur-active) 'active'}}
    "
  >
  {{! END-SNIPPET }}
    {{outlet}}
  </div>
</div>