<div class="dummy-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

{{! BEGIN-SNIPPET remote-outlet }}
{{frost-modal-outlet}}
{{! END-SNIPPET remote-outlet}}

<div class='dummy-body'>
  <div class="dummy-content frost-modal-content-blur {{if (frost-modal-active) 'active'}}">
    {{outlet}}
  </div>
</div>