<div class="demo-notification-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

{{frost-modal-outlet}}

<div class='demo-body'>
  {{! BEGIN-SNIPPET background-blur }}
  <div
    class="demo-content frost-modal-blur
      {{if (frost-modal-blur-active) 'active'}}
    "
  >
    {{! END-SNIPPET }}
    {{outlet}}
  </div>
</div>