<div class='dummy-notification-container'>
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

{{! BEGIN-SNIPPET modal-outlet }}
{{frost-modal-outlet}}
{{! END-SNIPPET modal-outlet}}

<div class='dummy-body'>
  <div class='dummy-content {{frost-modal-content-blur}}'>
    {{outlet}}
  </div>
</div>