<div class='dummy-notification-container'>
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>

{{! BEGIN-SNIPPET modal-outlet }}
{{frost-modal-outlet}}
{{! END-SNIPPET modal-outlet}}


<div class='dummy-body'>
  <div class="dummy-content">
  {{!--
  <div class="dummy-content {{if (frost-modal-active) 'frost-modal-content-blur'}}">
  --}}
    {{outlet}}
  </div>
</div>