@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

$frost-modal-outlet-background-color: rgba($frost-color-white, .8);
$frost-modal-outlet-body-shadow-color: rgba(0, 0, 0, .3);
$frost-modal-dialog-footer-background-color: rgba($frost-color-white, .95);
$frost-modal-overflow-shadow-color: rgba(0, 0, 0, .13);

.frost-modal-blur {
  transition: filter .3s;

  &.active {
    filter: blur(1.5px); // TODO PostCSS autoprefixer
  }
}

.frost-modal-outlet {
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $frost-modal-outlet-background-color;
    z-index: $frost-z-index-modal;
  }

  &-body {
    background-color: $frost-color-white;
    box-shadow: 0 25px 125px 0 $frost-modal-outlet-body-shadow-color;
    z-index: $frost-z-index-modal;
  }

  &-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: $frost-z-index-modal;
  }
}

.frost-modal-dialog {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 400px;
  min-height: 250px;
  max-height: calc(100vh - 90px); // TODO Nav height variable

  &-content {
    margin-bottom: 70px; // TODO Footer height variable
    padding: 20px 30px;
  }

  &-footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: flex-end;
    min-height: 70px;
    padding: 0 20px;
    border-top: 1px solid $frost-color-lgrey-1;
    background-color: $frost-modal-dialog-footer-background-color;

    > * {
      margin-left: 10px;
    }

    //TODO remove -text in next Major release
    &-text {
      margin-right: auto;
      margin-left: 0;
      color: $frost-color-grey-3;
    }

    &-content {
      margin-right: auto;
      margin-left: 0;
      color: $frost-color-grey-3;
    }
  }

  &-header {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 90px;
    padding: 20px 30px;
    //border-bottom: 1px solid $frost-color-lgrey-1;

    & .frost-icon {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    &-title {
      color: $frost-color-grey-2;
      font-size: $frost-font-l;
    }

    &-subtitle {
      display: block;
      color: $frost-color-grey-5;
      font-size: $frost-font-s;
    }
  }

  &-overflow-y-end,
  &-overflow-y-start {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 12px;
    transition: opacity 300ms; // TODO Animate in/out
    opacity: 1;
    z-index: 1;
  }

  &-overflow-y-end {
    top: 0;
    box-shadow: 0 -13px 25px 0 $frost-modal-overflow-shadow-color;
  }

  &-overflow-y-start {
    bottom: 0;
    box-shadow: 0 13px 25px 0 $frost-modal-overflow-shadow-color;
  }

  &-scroll {
    position: relative;
    flex: 1;
    padding: 0 30px;
    padding-left: 0;

    .ps-scrollbar-y-rail {
      margin-bottom: 70px; // TODO Footer height variable
    }
  }

  &-summary {
    margin-bottom: 70px;
    padding: 0 30px;
    color: $frost-color-grey-1;
    font-size: $frost-font-m;

    + .frost-modal-dialog-content {
      padding-top: 0;
    }
  }
}

.frost-modal-about-dialog {
  position: relative;
  width: 500px;

  .frost-icon-frost-modal-about-close {
    transition: color .3s;
    color: $frost-color-blue-1;

    &:hover {
      color: $frost-color-blue-3;
    }
  }

  &-branding-strip {
    position: absolute;
    width: 5px;
    height: 100%;
    overflow: hidden;
  }

  &-close {
    display: flex;
    position: absolute;
    top: -20px;
    right: -20px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;

    &-icon {
      width: 30px;
      height: 30px;
    }
  }

  &-copyright {
    padding: 10px 40px 20px;
    background-color: $frost-color-lgrey-3;
    color: $frost-color-grey-4;
    font-size: $frost-font-xs;
    line-height: 17px; // UX: Not official, but looks good
  }

  &-header {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 10px;

    &-body {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 40px;
    }
  }

  &-logo {
    height: 60px;
    margin: 40px auto 30px 0;
  }

  &-product {
    height: 20px;
    margin: 0 auto 30px 0;
  }

  &-scroll {
    min-height: 100px;
    max-height: 200px;
    border-top: 1px solid $frost-color-lgrey-1;
  }

  &-version {
    padding-bottom: 10px;
    color: $frost-color-grey-6;
    font-size: $frost-font-s;
  }
}
