<div class='frost-modal-demo-api'>
  <div class='frost-modal-demo-title'>
    Don't you hate it when they say...
  </div>
</div>
<div class='frost-modal-demo-live'>
  <div class='frost-modal-demo-title'>
    "Coming soon"
  </div>
</div>
