@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 80%;
  max-width: 400px;
  margin: auto;
  z-index: 999;
}

.frost-modal-demo {
  display: flex;
  flex-direction: row;
}

.frost-modal-demos {
  height: 100vh;
  padding: 0 20px;
  box-shadow: 0px 0 5px 3px rgba(0, 0, 0, 0.13);
}

.frost-modal-demo-selectors {
  height: calc(100vh - 61px);
  min-width: 100px;
  margin: 10px 0 10px 10px;
  padding-right: 20px;

  a {
    display: block;
    color: $frost-color-grey-2;
    cursor: pointer;
    font-style: normal;
    text-decoration: initial;
    transition: color 0.3s;

    &:hover {
      color: $frost-color-blue-1;
    }

    + a,
    + .frost-modal-demo-selector-indent {
      padding-top: 10px;
    }
  }
}

.frost-modal-demo-selector-title {
  padding-top: 10px;
  font-style: italic;

  + a {
    padding-top: 10px;
  }

  > a,
  > .frost-modal-demo-selector-title {
    padding: 10px 0 0 10px;
  }
}

.frost-modal-demo-selector-indent {
  margin-left: 20px;
}

.frost-modal-demo-example {
  flex: 1;
  height: 100vh;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.frost-modal-demo-api,
.frost-modal-demo-live {
  display: flex;
  flex-direction: column;
}

.frost-modal-demo-live {
  margin-left: 40px;
}

.frost-modal-demo-title {
  margin-top: 20px;
  font-size: $frost-font-m;
  font-weight: bold;
  color: $frost-color-grey-2;
}

.frost-modal-demo-hbs-snippet {
  margin: 0 20px;

  > pre {
    padding: 20px;
  }
}
