{{#if icon.icon}}
  {{frost-icon
    pack=icon.pack
    icon=icon.icon
  }}
{{/if}}
<div class='frost-modal-header-title'>
  {{title}}
</div>
{{#if isOverflow}}
  <div class='frost-modal-overflow-y-start'></div>
{{/if}}