frost-modal testbed
{{#frost-modal
  modalName='testModal' as |slot|}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority="primary"
      size="medium"
      text='Test basic dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'header'}}
    <div class="primary-title">BLAH</div>
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    <div class="custom-body">
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
    </div>
  {{/block-slot}}
  {{#block-slot slot 'footer' as |actions|}}
    {{actions.button
      type='close'
      text='Cancel'}}
    {{actions.button
      confirm=(action 'confirmHandler')
      priority='primary'
      type='confirm'
      text='Confirm'}}
  {{/block-slot}}
{{/frost-modal}}
