<div class='frost-modal-demo'>
  <div class='frost-modal-demos'>
    <div class='frost-modal-demo-title'>
      Demos
    </div>
    {{#frost-scroll
      class='frost-modal-demo-selectors'
      hook='selectorScroll'
    }}
      {{#link-to 'demo.overview'}}Overview{{/link-to}}
      <div class='frost-modal-demo-selector-title'>
        Building blocks
        {{#link-to 'demo.blur'}}Background blur{{/link-to}}
        {{#link-to 'demo.remote-outlet'}}Required remote outlet{{/link-to}}
        <div class='frost-modal-demo-selector-title'>
          Local binding
          {{#link-to 'demo.basic-binding'}}Basic{{/link-to}}
          {{#link-to 'demo.animation-binding'}}Animation{{/link-to}}
          {{#link-to 'demo.content-binding'}}Content{{/link-to}}
          <div class='frost-modal-demo-selector-title'>
            Content concerns
            {{#link-to 'demo.dynamic-updates'}}Dynamic updates{{/link-to}}
            {{#link-to 'demo.overflow'}}Overflow{{/link-to}}
          </div>
        </div>
      </div>
      <div class='frost-modal-demo-selector-title'>
        Dialog components
        {{#link-to 'demo.dialog'}}frost-modal-dialog{{/link-to}}
        {{#link-to 'demo.form'}}frost-modal-form{{/link-to}}
        <div class='frost-modal-demo-selector-title'>
          Messages
          {{#link-to 'demo.confirm'}}frost-modal-confirm-message{{/link-to}}
          {{#link-to 'demo.error'}}frost-modal-error-message{{/link-to}}
          {{#link-to 'demo.info'}}frost-modal-info-message{{/link-to}}
          {{#link-to 'demo.warn'}}frost-modal-warn-message{{/link-to}}
        </div>
      </div>
      <div class='frost-modal-demo-selector-title'>
        Unique components
        {{#link-to 'demo.about'}}frost-modal-about{{/link-to}}
      </div>
      <div class='frost-modal-demo-selector-title'>
        Tests
        {{#link-to 'demo.helpers'}}Helpers{{/link-to}}
      </div>
    {{/frost-scroll}}
  </div>
  {{#frost-scroll
    class='frost-modal-demo-example'
    hook='exampleScroll'
  }}
    {{outlet}}
  {{/frost-scroll}}
</div>
