frost-modal testbed
{{#frost-modal
  modalName='testModal' as |slot|}}
  {{#block-slot slot 'target'}}
    {{frost-button
      priority="primary"
      size="medium"
      text='Test basic dialog'
    }}
  {{/block-slot}}
  {{#block-slot slot 'header'}}
    <div class="primary-title">BLAH</div>
  {{/block-slot}}
  {{#block-slot slot 'body'}}
    <div class="custom-body">
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
      <div>Test Information block</div>
    </div>
  {{/block-slot}}
  {{#block-slot slot 'footer' as |controls modalClose|}}
    {{controls.cancel}}
    {{controls.button
      text='Custom action'
      onClick=(action 'myCustomAction')}}
    {{controls.confirm
      onClick=modalClose
      onConfirm=(action 'confirmHandler')
      text='Confirm it!'}}
  {{/block-slot}}
{{/frost-modal}}
