<p class='message'>This is a sample warning message!</p>

{{frost-button
  priority='tertiary'
  size='small'
  text='Cancel'
  onClick=(action onCancel)
}}

{{frost-button
  priority='primary'
  size='small'
  text='Confirm'
  onClick=(action onConfirm)
}}