<div class='frost-modal-demo-basic-modal'>
  So very basic.
  {{frost-button
    hook=(concat hook '-confirm')
    priority='primary'
    size='medium'
    text='Yup'
    onClick=onConfirm
  }}
</div>
